ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
img {
    width: 10% ;
    height: 10%;
}
img:hover{
  
    width: 51% ;
    
}
.head {
    background-color: coral; 
}